@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --font: 'Raleway', sans-serif;
}

.body {
    font-family: var(--font);
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.katalog,
.katalog .child {
    transition: all 0.3s ease 0s;
}

.katalog:hover {
    border-color: #da002b;
    color: #da002b;
}

.katalog:hover .child {
    background-color: #da002b;
    color: #da002b;
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}

.icons .icon,
.title {
    transition: all 0.3s ease 0s;
}

.icons:hover span {
    color: #da002b;
}

.icons:hover .icon {
    stroke: #da002b;
    fill: none;
    color: #da002b;
}

.icons:hover .icon1 {
    transition: fill 0.2s ease 0s;
    fill: #da002b;
    color: #da002b;
    stroke-width: 0.1px;
}

.icons .icon {
    width: 24px;
    height: 24px;
}

.title {
    font-weight: 500;
    color: #111;
}

.abc {
    height: 40px;
}